.header {
    width: 100%;
    height: 100px;
    background: #D8D8D8;
}

/* Use float to get this container in its desired location. */

.content-left {
    width: 34%;
    /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
    height: 768px;
    background: #e91818;
    float: left;
}


/* Use float to get this container in its desired location. */

.content-mid {
    /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
    height: 768px;
    width: 66%;
    background: rgb(5, 235, 74);
    float: right;
    
}

/* Use float to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: rgb(56, 3, 230);
    clear: both;
    
}