/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  margin-top: 65px;
  text-align: center;
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
    width: 45%;
    height: 300px;
    display: inline-block;
    background: rgb(245, 72, 9);
    margin: 0 auto 1px;

    

}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    width: 90%;
    height: 200px;
    margin: auto;
    margin:0 auto 5px;
    background: rgb(6, 10, 243);
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    width: 90%;
    height: 600px;
    margin: auto;
    margin: 0 auto 5px;
    background: rgb(16, 243, 65);
}


